[submodule "simulators/pyuvsim"]
	path = simulators/pyuvsim
	url = https://github.com/RadioAstronomySoftwareGroup/pyuvsim.git
[submodule "simulators/matvis"]
	path = simulators/matvis
	url = https://github.com/HERA-Team/matvis.git
[submodule "simulators/fftvis"]
	path = simulators/fftvis
	url = https://github.com/tyler-a-cox/fftvis.git
[submodule "simulators/hera_sim"]
	path = simulators/hera_sim
	url = https://github.com/HERA-Team/hera_sim.git
[submodule "simulators/healvis"]
	path = simulators/healvis
	url = https://github.com/RadioAstronomySoftwareGroup/healvis.git
[submodule "simulators/RIMEz"]
	path = simulators/RIMEz
	url = https://github.com/UPennEoR/RIMEz.git
[submodule "simulators/croissant"]
	path = simulators/croissant
	url = https://github.com/christianhbye/croissant.git
[submodule "simulators/pyvisgen"]
	path = simulators/pyvisgen
	url = https://github.com/radionets-project/pyvisgen.git
[submodule "simulators/PRISim"]
	path = simulators/PRISim
	url = https://github.com/nithyanandan/PRISim.git
[submodule "simulators/pyradiosky"]
	path = simulators/pyradiosky
	url = https://github.com/RadioAstronomySoftwareGroup/pyradiosky.git
[submodule "simulators/OSKAR"]
	path = simulators/OSKAR
	url = https://github.com/OxfordSKA/OSKAR.git
	update = none
[submodule "simulators/WODEN"]
	path = simulators/WODEN
	url = https://github.com/JLBLine/WODEN.git
	update = none
[submodule "simulators/rascil"]
	path = simulators/rascil
	url = https://gitlab.com/ska-telescope/external/rascil-main.git
	update = none
[submodule "simulators/DP3"]
	path = simulators/DP3
	url = https://git.astron.nl/RD/DP3.git
	update = none
[submodule "simulators/wsclean"]
	path = simulators/wsclean
	url = https://gitlab.com/aroffringa/wsclean.git
	update = none
[submodule "simulators/meqtrees-cattery"]
	path = simulators/meqtrees-cattery
	url = https://github.com/ratt-ru/meqtrees-cattery.git
	update = none
[submodule "simulators/FHD"]
	path = simulators/FHD
	url = https://github.com/EoRImaging/FHD.git
	update = none
[submodule "simulators/PyFHD"]
	path = simulators/PyFHD
	url = https://github.com/ADACS-Australia/PyFHD.git
[submodule "simulators/Karabo"]
	path = simulators/Karabo
	url = https://github.com/i4Ds/Karabo-Pipeline.git
[submodule "simulators/TensorVis"]
	path = simulators/TensorVis
	url = https://github.com/HydraRadio/TensorVis.git
[submodule "simulators/VisSim"]
	path = simulators/VisSim
	url = https://github.com/samirchoudhuri/VisSim.git
[submodule "simulators/ism3d"]
	path = simulators/ism3d
	url = https://github.com/r-xue/ism3d.git
[submodule "simulators/eht-imaging"]
	path = simulators/eht-imaging
	url = https://github.com/achael/eht-imaging.git
[submodule "simulators/pyralysis"]
	path = simulators/pyralysis
	url = https://gitlab.com/clirai/pyralysis.git
[submodule "simulators/MeqSilhouette"]
	path = simulators/MeqSilhouette
	url = https://github.com/rdeane/MeqSilhouette.git
[submodule "simulators/omniuv"]
	path = simulators/omniuv
	url = https://github.com/liulei/omniuv.git
[submodule "simulators/VNSIM"]
	path = simulators/VNSIM
	url = https://github.com/ZhenZHAO/VNSIM.git
[submodule "simulators/APSYNSIM"]
	path = simulators/APSYNSIM
	url = https://github.com/onsala-space-observatory/APSYNSIM.git
[submodule "simulators/friendlyVRI"]
	path = simulators/friendlyVRI
	url = https://github.com/crpurcell/friendlyVRI.git
[submodule "simulators/galario"]
	path = simulators/galario
	url = https://github.com/mtazzari/galario.git
	update = none
[submodule "simulators/MPoL"]
	path = simulators/MPoL
	url = https://github.com/MPoL-dev/MPoL.git
[submodule "simulators/gpuvmem"]
	path = simulators/gpuvmem
	url = https://github.com/miguelcarcamov/gpuvmem.git
	update = none
[submodule "simulators/uvplot"]
	path = simulators/uvplot
	url = https://github.com/mtazzari/uvplot.git
[submodule "simulators/stimela"]
	path = simulators/stimela
	url = https://github.com/caracal-pipeline/stimela.git
[submodule "simulators/caracal"]
	path = simulators/caracal
	url = https://github.com/caracal-pipeline/caracal.git
[submodule "simulators/Obit"]
	path = simulators/Obit
	url = https://github.com/bill-cotton/Obit.git
	update = none
[submodule "simulators/BIPP"]
	path = simulators/BIPP
	url = https://github.com/epfl-radio-astro/bipp.git
	update = none
[submodule "simulators/DDFacet"]
	path = simulators/DDFacet
	url = https://github.com/saopicc/DDFacet.git
[submodule "simulators/CubiCal"]
	path = simulators/CubiCal
	url = https://github.com/ratt-ru/CubiCal.git
[submodule "simulators/killMS"]
	path = simulators/killMS
	url = https://github.com/saopicc/killMS.git
[submodule "simulators/radionets"]
	path = simulators/radionets
	url = https://github.com/radionets-project/radionets.git
